<div th:fragment="topmenu">
<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
        
      </span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
        <img src="dist/img/logoPKH.png" height="45px">
        <!-- <b>PKH 2017</b> -->
      </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
         <!--  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a> -->

        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.php">Home</a></li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Utilitas<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="valclnpeserta.php">Validasi Calon Peserta</a></li>
                        <li class="dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">Data Validasi vis DMR</a>
                            <ul class="dropdown-menu">
                                <li><a href="pendididkan.php">Pendidikan</a></li>
                                <li><a href="kesehatan.php">Kesehatan</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="">Export Data</a>
                            <ul class="dropdown-menu">
                                <li><a href="datavalidasiverifikasi.php">Data Validasi & Verifikasi</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Master Data<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="fasdik.php">Fasilitas Pendidikan</a></li>
                        <li><a href="faskes.php">Fasilitas Kesehatan</a></li>
                        <li><a href="pendamping.php">Pendamping</a></li>
                        <li><a href="parameter.php">Parameter</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Pemutakhiran Data<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="pemutakhirandata.php">Pemutakhiran Data</a></li>
                        <li><a href="pindahalamat.php">Pemutakhiran Pindah Alamat/Berhenti</a></li>
                        <li><a href="pesertaksm.php">Pemutakhiran Peserta KSM/Open System</a></li>
                        <li><a href="verdik.php">Verifikasi Pendidikan</a></li>
                        <li><a href="verkes.php">Verifikasi Kesehatan</a></li>
                        <li><a href="listgiatpendamping.php">Check List Kegiatan Pendamping</a></li>
                        <li><a href="rekapgiatpendamping.php">Rekapitulasi Kegiatan Pendamping</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Closing<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="closestatement.php">Final Closing Statement Preview dan Download Rekapitulasi</a></li>
                        <li><a href="realbayar.php">Realisasi Pembayaran</a></li>
                        <li><a href="statusclosing.php">Status Closing</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Resertifikasi<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="inisialresertifikasi.php">Inisialisasi Data Resertifikasi</a></li>
                        <li><a href="#" th:href="@{/export}">Export Data Resertifikasi</a></li>
                        <li><a href="importresertifikasi.php">Import Data Resertifikasi</a></li>
                        <li><a href="monitoringresertifikasi.php">Monitoring Data Resertifikasi</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Pengaduan<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="adupeserta.php">Pengaduan Peserta</a></li>
                        <li><a href="adunonpeserta.php">Pengaduan non Peserta</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Security<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="gantipass.php">Ganti Password</a></li>
                        <li><a href="user.php">Manajemen User</a></li>
                        <li><a href="group.php">Manajemen Group</a></li>
                        <li><a href="useraktif.php">Daftar User Sedang Aktif</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Analisa Data<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="ksmtidaklengkap.php">Data KSM Tidak Lengkap</a></li>
                        <li><a href="sd.php">Data Anak SD Mau Lulus</a></li>
                        <li><a href="smp.php">Data Anak SMP Mau Lulus</a></li>
                        <li><a href="sma.php">Data Anak SMA Mau Lulus</a></li>
                        <li><a href="bumil.php">Data BUMIL Mau Melahirkan</a></li>
                        <li><a href="balita.php">Data BALITA Mau SD</a></li>
                        <li><a href="didiktidaklengkap.php">Data Kategori Pendidikan Tidak Lengkap</a></li>
                        <li><a href="kestidaklengkap.php">Data Kategori Kesehatan Tidak Lengkap</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Laporan<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">Laporan</a>
                            <ul class="dropdown-menu">
                                <li><a href="lapbln.php">Laporan Bulanan</a></li>
                                <li><a href="lapmgg.php">Laporan Mingguan</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="index.php">Logout</a></li>

            </ul>
        </div>
    </nav>
    
</header>
</div>
 